
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>NEW SENSE -<br /> почувствуй реальность</h1>
<div class="main_picture">
    <img src="~/Content/img/media/main.png" alt="virt_real" />
</div>
<h2>Виртуальная реальность. What is it?</h2>
<div class="description">
    VR-очки  - это инновационное
    <div class="popup_name">
        устройство
        <div class="popup_data">
            Устройство - рукотворный объект со сложной внутренней структурой,
            созданный для выполнения определённых функций, обычно в области техники.
        </div><div class="triangle"></div>
    </div>
    , позволяющее погрузиться в виртуальную реальность на 100% - почувствовать себя героем фильма
    или игры, отправится в путешествие по миру, не выходя из дома.
    <nobr>В отличии</nobr> от связки
    <div class="popup_name">
        3d-очки
        <div class="popup_data">
            3D-очки — очки для просмотра стереоскопических фильмов
        </div><div class="triangle"></div>
    </div>
    + телевизор, когда сидишь ровно по центру от монитора и боишься шевельнуться, чтобы не произошло
    искажение изображения, в VR очках можно сидеть, стоять, двигаться где угодно и как угодно.
    И это не только удобней, но и интересней - очки окутывают тебя картинкой <nobr>на 360 градусов!</nobr>
</div>
<div class="details_information">
        С помощью VR-очков можно...
    <ul class="check">
        <li>
            смотреть объемное видео на 360 градусов;
        </li>
        <li>
            смотреть фильмы с пометкой VR с полным погружением;
        </li>
        <li>
            играть в различные игры, управляя своими движениями с помощью входящего в комплект пульта;
        </li>
        <li>
            насытится адреналином, безопасно насладившись прыжком с парашютом, катанием на американских горках,
            скалолазанием, яхтингом, дайвингом и прочими опасными приключениями.
        </li>
        <li>
            можно совершить тест-драйв новых автомобилей класса люкс, посидев в салоне, оценив не только дизайн,
            но и технические характеристики качества езды;
        </li>
        <li>
            путешествовать по миру, получая море положительных эмоций от красот природы и современных индустриальных
            пейзажей с разных концов света!
        </li>
        <li>
            смотреть объемное видео на 360 градусов;
        </li>
    </ul>
</div>
