<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Script/angular.min.js"></script>
    <link href="~/Content/style/style.css" rel="stylesheet" type="text/css"  />
</head>
<body>
<div>
    Привет
</div>
</body>
</html>
